.logohome{
    border: 2px solid goldenrod;
    padding: 1rem;
    border-radius: 50%;
    background-color: navy;
}
.logohome-1{
    padding: 2rem;
    border: 4px solid yellow;
    border-radius: 50%;
    background-color: goldenrod;
}
.logoname{
    border: 2px solid blue;
    padding: 1.5rem;
    display: flex;
    justify-content: center;
    align-items:center ;
    flex-direction: column;
    border-radius: 50% ;
    background: linear-gradient(45deg,navy,blue,purple);
    color: gold;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.userinput{
    margin: 2rem;
    width: 41vw;
}
.form-control{
    background-color: darkblue;
    color: #fff;
    padding: 1rem !important;
    border-radius: 12px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
    text-transform:uppercase;
}

.startbutton{
    margin: 2rem;
}
.btn-clr{
    background-color: rgb(255, 255, 112);
    color: rgb(255, 186, 11);
    font-size: 1.2rem;
    font-weight: bolder;
}