* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.question-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin: 2rem 0px;
  position: absolute;
  top: 2.4rem;
}
.question-timer-container {
  margin-top: 5rem;
  position: relative;
  height: 12rem;
}
.question__screen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hexagon {
  border: 4px solid goldenrod;
  width: 90%;
  padding: 1.5rem 1rem;
  text-align: center;
  color: white;
  border-radius: 4rem;
  background-color: blue;
  z-index: 2;
}
.pipe {
  position: absolute;
  width: 100%;
  border: 3px solid goldenrod;
  z-index: 1;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .question-container {
    margin: 0rem 0px;
  }
  .question-timer-container {
    margin-top: 0rem;
    position: relative;
    height: 11rem;
  }
  .question-container {
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    margin: 2rem 0px;
    margin-bottom: 0px;
    top: 2.4rem;
  }
  .menubar-rupee {
    padding: 0.55rem 0px;
  }
  .footer {
    position: relative;
    bottom: 0px;
  }
}
