.flex{
  display: flex;
}
.align-item{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.lifeline-ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.btn-option{
  margin: 0px 1rem;
  border: 3px solid goldenrod;
  padding: 0.5rem;
  background-color: blue;
  border-radius: 50%;
}
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid goldenrod;
  padding: 0.55rem;
  background-color: blue;
  border-radius: 50% ;
  z-index: 6;
  margin-top: 0.7rem;
}
.btn-option-2{
  margin: 0rem 1rem;
  border: 3px solid goldenrod;
  background-color: blue;
  border-radius: 50%;
  padding: .55rem;
}
.h4-one{
  margin: 0;
}
.menubar{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 0.5rem;
}
.left{
  display: flex;
  align-items: center;
}
.money-chart{
  border-right: 2px solid gold;
  border-top: 2px solid gold;
  border-bottom: 2px solid gold;
  border-radius: 21%; 
  padding:0px 12px;
  position: absolute;
  z-index: 8;
}
.uil-rupee-sign{
  color: gold;
}
.menubar-rupee{
  padding: 1.47rem 0px;
}
.circle-time{
  display: flex;
  justify-content: center;
  align-items: center;
}
.timer{
  border: 3px solid goldenrod;
  border-radius: 50%;
  padding: 1.5rem 2rem;
  padding-top: 1rem;
  width: 7rem;
}
.circle{
  padding: 0.5rem;
  border: 3px solid goldenrod;
  margin: 0px 0.5rem;
  border-radius: 50%;
}
.circle-1{
  background-color: green;
}
.circle-2{
  background-color: violet;
}
.circle-3{
  background-color: grey;
}
.circle-4{
  background-color: yellow;
}
.circle-5{
  background-color: blue;
}
.circle-6{
  background-color: rgb(4, 4, 131);
}
.circle-7{
  background-color:red;
}
.award{
  position: absolute;
  top: 0;
  left:0;
  /* align-items: center; */
  font-size: 2rem;
  padding: 1rem;
  background: url("/src/component/assets/kbc_amitabh1-1019x573.webp");
  width: 100%;
  height: 100%;
  z-index: 5;
}

.gotohomeBtn {
  padding:0.5rem 1rem;
  margin: 1rem;
  color: black;
  background-color: goldenrod;

}
.goodwish{
  color: wheat;
  background-color: rgb(13, 180, 13);
  padding: 1rem 0rem;
  margin: 1rem 3rem;
}
.link{
  text-decoration: none;
} 
.amountinwords{
  border-bottom: 2px solid black;
  width: 80%;
}
.amount{
  /* border: 2px solid red; */
  width: 25%;
} 
.black-line{
  border-bottom: 2px solid black;
}
.amountinno{
  border: 2px solid black;
  padding: 0.5rem 1rem;
}
.checkborder{
  border: 2px solid transparent;
  background: linear-gradient(45deg,rgb(8, 8, 85),rgb(2, 11, 61),rgb(0, 6, 90),rgb(1, 1, 37));
  color: #FFF;
  padding: 0.5rem 4rem;
  box-shadow: 12px 12px 12px rgb(2, 5, 22) ;
}
.hidden{
  display: none !important;
}
.footer{
  text-align: center;
  color: #FFF;
  padding: 0.5rem 0rem;
  background-color: black;
  position:relative;
  bottom: -10px;
  width: 100%;
}
.quizScreenMainBox{
  background: url("/src/component/assets/kbc_amitabh1-1019x573.webp") ;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.text{
  font-size: 1.2rem;
  font-weight: bolder;
  color: white;
  background-color: violet;
  z-index: 8;
}